div#corpo{
    background-color: black;
    height: 380px;
    width: 220px;
    padding: 10px;
}

div#painel{
    background-color:white;
    color: green;
    height: 40px;
    width: 210px;
    margin: auto;
    margin-bottom: 10px;
    
}

p#resultado{
    text-align: right;
    font-size: 30px;
    padding: 1px;
}
button{
    background-color:rgb(39, 36, 36);
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

button:hover{
    background-color:green;
}

button#clear{
    width: 104px;
}

button#igual{
    width: 104px;
}

button#igual:hover{
    background-color: red;
}